.field--name-field-reservation-link {
  a {
    @extend .icon--date;
    @extend %button--action-before;
    display: inline-block;
  }
}

.field--name-field-images {
  display: flex;
  flex-basis: 100%;

  .field__item {
    flex-basis: 50%;
    margin-right: $line / 2;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.field--name-body {
  p {
    @include font-size(16px);
    margin: 0;
    line-height: inherit;
  }
}

.equipment-list {
  @extend %feature-list;

  .equipment-list__item {
    @extend %feature-list__item;

    .field {
      display: inline-block;
    }
  }
}

.node--type-space {
  h1 {
    @include font-size(50px, 30px);
    hyphens: auto;
  }

  &.node--view-mode-card {
    display: flex;
    flex-wrap: wrap;

    .field--name-field-images,
    .field--name-title,
    .field--name-dynamic-token-fieldnode-referenced-address {
      flex-basis: 100%;
    }

    .field--name-field-price-category {
      @extend h4;
      font-weight: 700;
    }

    .space__key-information {
      flex-basis: 12rem;
      flex-grow: 1;
    }

    .space__pricing {
      flex-basis: 8rem;
      text-align: right;
      text-transform: uppercase;

      .field-group__label {
        @extend h6;
        font-weight: 400;
        padding: 0;
        text-transform: none;

        &:after {
          content: ':';
        }
      }
    }
  }
}
