.ui-widget.search-api-autocomplete-search.ui-autocomplete {
  @extend .list-of-links;

  li {
    &:hover,
    &:focus {
      background: none;
    }
  }

  a {
    @extend .list-of-links__link;
    @extend .button--action;
    @extend .theme-transparent-alt;
    display: flex;
    justify-content: space-between;

    &.ui-menu-item-wrapper {
      &.ui-state-active {
        .search-api-autocomplete-suggestion {
          background: none;
          color: inherit;
        }
      }
    }

    &:hover,
    &:focus {
      svg {
        path,
        polygon {
          fill: $darkblue;
        }
      }
    }
  }
}

.js input.form-autocomplete {
  &,
  &.ui-autocomplete-loading {
    background-image: none;
  }
}

.ui-autocomplete-input {
  &.ui-autocomplete-loading {

    ~ .svg-icon--spinner {
      display: block;
    }
  }
}
