.hero-big--alternative {
  height: auto;
  min-height: 24rem;
  padding-top: $line * 3;
  position: relative;
  z-index: -1;

  // Overflow style uses its own darken element.
  &:after {
    opacity: 0;
  }

  .hero-big__top {
    margin-bottom: 0;
  }

  .hero-big__background {
    background: #000;
    box-sizing: content-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .hero-big__background__image {
    background-position: center center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.33;
    top: 0;
    width: 100%;
  }

  .page--hero-overflow & {
    overflow: visible;

    .hero-big__background {
      padding-bottom: $line * 10;
    }
  }
}

.hero-subtle {
  @include container;
}

.hero-subtle__ingress {
  @include font-size(18px);
}
