%view-liftup-grid__content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: $line;
  position: absolute;
  top: 0;
  width: 100%;

  > * {
    flex-basis: 100%;
  }
}

.view--liftup-grid {
  .view__content {
    @extend .liftup-grid;
  }

  .liftup-grid__content {
    @extend %view-liftup-grid__content;
  }
}

.view--liftup-auto-grid {
  .view__content {
    @extend .liftup-auto-grid;
  }

  .liftup-grid__content {
    @extend %view-liftup-grid__content;
  }
}
