*:focus-visible{
  outline: 2px solid $blue;
  outline-offset: 2px;
}

.l-top-bar{
  *:focus-visible{
    outline: 2px solid $white;
    outline-offset: -3px;
  }
}

.page--with-hero .l-header-bar, .l-footer{
  *:focus,*:focus-visible{
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

.l-footer{
  *:focus,*:focus-visible{
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

a[href="#main-conent"]{
  &:hover{
    color: #808080;
  }
  &:focus,&:focus-visible{
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

form{
  select,textarea,input[type="number"],input[type="text"],.select2-container{
    &:focus{
      outline: 2px solid $blue;
      outline-offset: 2px;
      border: 1px solid #979797;
    }
    &:focus-visible{
      outline-offset: 3px;
      outline: 2px solid $blue;
    }
  }
}

