*:focus-visible{
  outline: 2px solid $blue;
  outline-offset: 2px;
}

.l-top-bar{
  *:focus-visible{
    outline: 2px solid $white;
    outline-offset: -3px;
  }
}

.page--with-hero .l-header-bar, .l-footer{
  *:focus,*:focus-visible{
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

.l-footer{
  *:focus,*:focus-visible{
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

a[href="#main-conent"]{
  &:hover{
    color: #808080;
  }
  &:focus,&:focus-visible{
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

form{
  select,textarea,input[type="number"],input[type="text"],.select2-container{
    &:focus{
      outline: 2px solid $blue;
      outline-offset: 2px;
      border: 1px solid #979797;
    }
    &:focus-visible{
      outline-offset: 3px;
      outline: 2px solid $blue;
    }
  }
}

/** Map */
.easy-button-button{
  transition-duration: .3s;
  position: relative;
  padding: 2px;
  &:last-of-type{
    padding: 0;
  }
  img{
    vertical-align: middle;
  }
}

.easy-button-container{
  border: none !important;
  //button:last-child{
  //  margin-top: 1rem;
  //}
}

.zoom-btn{
  position: absolute;
  top: 0;
  left: 0;
}

.easy-button-button.disabled {
  height: 0;
}

.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}


.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
