.card {
  display: flex;
  flex-wrap: wrap;

  .field {
    margin: 0;
  }
}

.card__title {
  @extend h5;
  margin-bottom: 0;
  margin-top: $line;
  padding: 0;
  width: 100%;

  a {
    @extend a;
  }
}
