%feature-list {
  display: block;
  margin-bottom: $vert-spacing-unit;
}

%feature-list__item {
  border-top: 1px solid $silver;
  display: block;
  padding: $line / 2 0;

  &:last-child {
    border-bottom: 1px solid $silver;
  }

  .svg-icon {
    padding: 0 $line / 2;
    position: relative;
    top: 0.1rem;

    svg {
      path {
        fill: $blue;
      }

      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
