.space-list {
  .views-exposed-form {
    align-items: flex-end;
    background: $white;
    display: flex;
    flex-wrap: wrap;
    padding: $line ($line - $line / 2);

    @include breakpoint($bp-medium) {
      box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15);
      padding: $line * 2 ($line * 2 - $line / 2);
      padding-top: $line;
    }
  }

  label {
    display: block;
  }

  .form-item {
    flex-basis: 12rem;
    flex-grow: 1;
    margin-left: $line / 2;
    margin-right: $line / 2;
    margin-top: $line;

    &.form-item-field-equipment {
      flex-basis: 100%;

      select {
        max-width: 30rem;
      }
    }
  }
}
