{% if background_image %}
  <div class="hero-big hero-big--centered hero-big--overflow">
    <div class="hero-big__top">
      <div class="hero-big__content">
        <h1 class="hero-big__title">
          {{ title }}
        </h1>

        <div class="hero-big__content-bottom">
          <div class="hero-big__ingress">
            {{ lead }}
          </div>
        </div>
      </div>
    </div>

    <div class="hero-big__background" role="presentation" aria-hidden="true">
      <div class="hero-big__background__image" style="background-image: url('{{ background_image }}');"></div>
    </div>
  </div>
{% else %}
  <div class="hero-subtle">
    <h1 class="hero-subtle__title">
      {{ title }}
    </h1>
  </div>
{% endif %}
