.l-header-bar {
  background: none;
  color: $black;
  margin-bottom: $line;
  padding: 0 $line;

  .logo__sitename,
  .logo:before {
    color: $black;
  }

  .page--with-hero & {
    background: none;
    color: $white;
    margin: 0;
    position: absolute;
    width: 100%;

    .logo__sitename,
    .logo:before {
      color: $white;
    }

    svg {
      path {
        fill: $white;
      }
    }
  }
}

.svg-logo {
  align-items: center;
  display: flex;

  .svg-icon {
    svg {
      height: 3.25rem;
      width: 3.25rem;
    }
  }
}

// Set h1 styling explicitly. Remove p margin.
.logo__sitename {
  line-height: 1.15em;
  margin: 0;
  text-transform: uppercase;
}
