.form-item {
  .description {
    @extend small;
    margin-top: $line * 0.5;
  }
}

.form-element-icon-wrapper {
  align-items: center;
  display: flex;

  input,
  select {
    padding-right: $line + 1rem;
  }

  .svg-icon {
    pointer-events: none;
    margin-left: -($line / 2 + 1rem);

    svg {
      fill,
      polygon {
        color: $blue;
      }
    }
  }
}

