.ds-2col-stacked-fluid {
  @include container;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $line * 3;
  padding: 0;

  > * {
    padding: 0 $line / 2;
  }

  .group-top,
  .group-footer {
    flex-basis: 100%;
  }

  .group-left {
    flex-basis: 32rem;
    flex-grow: 1;
  }
  .group-right {
    flex-basis: 16rem;
    flex-grow: 1;
  }
}

.ds-container {
  @include container;
}
