.off-canvas {
  position: absolute;
  left: -9999rem;
  top: 0;
}

.off-canvas--focusable {
  &:focus {
    left: 0;
  }
}

a[href="#main-content"] {
  background: #000;
  color: #FFFFFF;
  padding: 0.5rem;
  z-index: 9999;
}
a[href="#main-content"]:focus {
  //box-shadow: 0 0 0 4px red;
}
