// Shared styling.
.space-list {
  @include container;

  .view__header {
    margin-top: $line * 2;

    h3 {
      @extend h2;
      text-align: center;
    }
  }

  .view__content {
    margin-top: $line;
  }
}

.space-list__item {
  margin-bottom: $line;
}

// IE11, no Edge
// https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-high-contrast
@media all and (min-width: $bp-medium) and (-ms-high-contrast: none)
, (min-width: $bp-medium) and (-ms-high-contrast: active) {
  .space-list {
    .view__content {
      margin-left: -($line / 2);
      margin-right: -($line / 2);

      &:after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }

  .space-list__item {
    float: left;
    padding: 0 $line / 2;
    width: 33.3%;

    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

// Grid version.
@supports (display: grid) {
  .space-list {
    .view__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: $line;
    }
  }
}
